@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300&family=Open+Sans+Condensed:wght@300&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
h1 {
    text-align: center;
    text-transform: capitalize;
    font-family: 'Antonio', sans-serif;
    font-size: 80px;
    font-weight: 800;
    background-image: url(../images/Days\ Gone.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
}
h2 {text-align: left;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-indent: 150px;
    color: rgb(187, 255, 198);
}
p {text-align: justify;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 550;
    line-height: 35px;
    text-indent: 35px;
    color: rgb(187, 255, 198);
}
h3 {
    text-align: left;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-indent: 150px;
    color: rgb(187, 255, 198);
}
span {text-align: justify;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 550;
    line-height: 35px;
    background-color: #747d8c; 
    color: #747d8c;
}
h4 {
    text-align: left;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-indent: 150px;
    color: rgb(187, 255, 198);
}
h5 {
    text-align: left;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-indent: 150px;
    color: rgb(187, 255, 198);
}
h6 {
    text-align: left;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-indent: 150px;
    color: rgb(187, 255, 198);
}
ul {text-align: justify;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 550;
    line-height: 35px;
    text-indent: 35px;
    color: rgb(187, 255, 198);
}
a {
    text-align: justify;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: 550;
    text-decoration: underline;
    color: rgb(187, 255, 198);
}
ol {text-align: justify;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 550;
    line-height: 35px;
    text-indent: 35px;
    color: rgb(187, 255, 198);
}
body {
    background-image: url(../images/Fundo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
header {
    background-color: rgba(0, 0, 0, 0.75);
    background-size: 1309px 217px;
    width: 1309px; height: 85px;
    background-position: center top;
    width: 1309px; height: 130px;
}
.main {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}
footer {
    background-color: rgba(0, 0, 0, 0.75);
    background-size: 1309px 217px;
    width: 1309px; height: 85px;
}
address {
    text-align: center;
    text-transform: capitalize;
    font-family: 'Antonio', sans-serif;
    font-size: 60px;
    font-weight: 800;
    background-image: url(../images/Days\ Gone.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
}